.box {
  padding: 12px 6px;
  border-bottom: 1px solid #999;
}
.box:hover {
  cursor: pointer;
}
.box .top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.box .top .title {
  font-size: 20px;
  margin-right: 12px;
  font-weight: bold;
}
.box .top .author {
  font-size: 14px;
  color: #999;
}
.content {
  font-size: 16px;
  color: #333;
}